@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 40px;
   

  
}
html,body{
        background: rgb(20, 85, 123);
        background: linear-gradient(0deg, rgba(20, 85, 123, 1) 0%, rgba(98, 171, 177, 1) 100%);
        background-repeat: no-repeat;
            /* Prevent background from repeating */
            background-size: cover;
            /* Ensure the background covers the entire viewport */
            font-family: 'Roboto Slab', sans-serif;
            min-height: 100%;
              
    
    
}


form{
    width: 600px;
    background-color: rgb(189, 232, 253);
    padding: 40px;
    border-radius: 30px;
}

form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  

}
form li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

input{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
input:focus{
    outline: none;
}

label{
    font-size: 24px;
}

table{
    border-collapse: collapse;
    width: 900px;
    background-color: white;
}
td,th{
    border: 2px solid gray;
    padding: 10px;
    text-align: center;

}

thead>tr{
background-color: #d4e1f7;
}
tbody >tr:nth-child(even) {
    background-color: #d4e1f7;
}
h1{
    font-family: 'Caprasimo', cursive;
    color: white;
}







@media only screen and (min-width: 620px) and (max-width: 940px) {
    table{
        width: 600px ;
    }

   td,
   th {

       padding: 5px;
       font-size: 16px;
  

   }
   form {
       width: 600px;
       padding: 20px;
   
   }
   form ul {
       gap: 10px;


   }
   input {
       padding: 8px;
       font-size: 16px;
    
   }
   label {
       font-size: 18px;
   }
}

@media only screen and (max-width: 621px) {

    table {
            width: fit-content;
            min-width: 30px;
        }
    
        td,
        th {
    
            padding: 2px;
            font-size: 12px;
    
    
        }
    
        form {
            width: fit-content;
            min-width:310px;
            padding: 20px;
            margin: 10px;
    
        }
    
        form ul {
            gap: 6px;
    
    
        }
    
        input {
            padding: 3px;
            font-size: 14px;
    
        }
    
        label {
            font-size: 13px;
        }

        #root>h1{
            width: 100vw;
            font-size: 20px;
            text-align: center;
         }

}