*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



form{
    width: 600px;
    background-color: rgb(189, 232, 253);
    padding: 40px;
    border-radius: 30px;
}

form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  

}
form li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

input{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
input:focus{
    outline: none;
}

label{
    font-size: 24px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 900px;
}
td,th{
    border: 2px solid gray;
    padding: 10px;
    text-align: center;

}

thead>tr{
background-color: #d4e1f7;
}
tbody >tr:nth-child(even) {
    background-color: #d4e1f7;
}







@media only screen and (min-width: 620px) and (max-width: 940px) {
    table{
        width: 600px ;
    }

   td,
   th {

       padding: 5px;
       font-size: 16px;
  

   }
   form {
       width: 600px;
       padding: 20px;
   
   }
   form ul {
       gap: 10px;


   }
   input {
       padding: 8px;
       font-size: 16px;
    
   }
   label {
       font-size: 18px;
   }
}

@media only screen and (max-width: 621px) {

    table {
            width: fit-content;
            min-width: 320px;
        }
    
        td,
        th {
    
            padding: 2px;
            font-size: 12px;
    
    
        }
    
        form {
            width: fit-content;
            min-width:320px;
            padding: 20px;
    
        }
    
        form ul {
            gap: 6px;
    
    
        }
    
        input {
            padding: 3px;
            font-size: 14px;
    
        }
    
        label {
            font-size: 13px;
        }
        #root {
         margin: 10px;
        }

       #root>h1{
            width: 100vw;
            font-size: 20px;
            text-align: center;
         }

}